<div class="d-flex flex-column vh-100">
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

      <a href="#" class="navbar-brand">Phone Rastreador</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0" routerLinkActive="active" [hidden]="!isConectado">
          <li class="nav-item">
            <a href="/home" class="nav-link" routerLink="home">Início</a>
          </li>
          <li class="nav-item">
            <a href="/dispositivos" class="nav-link" routerLink="dispositivos">Dispositivos</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="desconectar()">Sair</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
