.vscode/

mosquitto/*/log/**
mosquitto/*/data/**


# Backend
backend/phonerastreador/persistence/**
backend/phonerastreador/target

# LDAP
ldap/etc/**
ldap/var/**

# MySQL data
mysql/data/**

# ignorando diretório de certificados
certs